<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad</title>
   
    <link rel="stylesheet" href="./comunidad.css">
    <link rel="icon" type="image/x-icon" href="imagenes/ico/favicon.ico"> <!-- FAVICON CON LA MISMA IMAGEN QUE EL LOGO NUEVO-->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- FONTAWESOME -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200&display=swap"
        rel="stylesheet">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


        
    
</head>

<body>

    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="#">
             
           <img src="imagenes/ico/256x256.png" alt="Logo de la empresa"> <!--logo nuevo -->
              
            </a>
        </div>

         <!-- toggle -->
       <div class="menu-toggle" id="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>


        <ul class="nav-links" id="nav-links">
            <li><a href="../Lean/index.html">Inicio</a></li>
            <li><a href="../Yanina/productos.html">Productos</a></li>
            <li><a href="../Soledad/ubicacion.html">Ubicación</a></li>
            <li><a href="../Martin/acercade.html">Acerca de</a></li>
            <li><a href="../Marlene/contacto.html">Contacto</a></li>
            <li><a href="../BackEnd/">Comunidad </a></li>
        </ul>

    </nav>

   
    
    </header>
        
    <header id="headerSucursales" >
        <h3 > HABLEMOS</h3>
    
    </header>
    <section class="sucursales-contenedor"> <!-- CONTENEDOR info de sucursales-->
    
        
        <div class="contenedor-negro">
            
            <div class="sucursales-texto"> 
                <h1>Nuestra Comunidad</h2>

                   <p> Tenes un mensaje que dejarnos? Queres ver que opinan nuestros clientes?
                    Te invitamos a dejarnos un mensaje </p>
                
                
            </div>

            

        </div>
        
</section>





     <!-- --------- CRUD ------------- -->
  <section>
    <div class="container d-flex flex-row-reverse bd-highlight">
      <button id="mostrar" class=" bg-transparent fw-bold text-danger border-0 text-decoration-underline">ACCESSO ADMIN</button>
    <button id="ocultar" class="ocultar bg-transparent fw-bold text-danger border-0 text-decoration-underline">SALIR</button>
    </div>
<div id="app" class="container">
  
  <br>
  

  <button id="comentaBtn">Comenta</button>
  
  <div class="popup" id="comentaPopup">
         
      <div class="popup-content ">
        
          <span class="close" onclick="closePopup()">&times;</span>
          <h2>Deja un Comentario</h2>
  
        

           
          <form id="login-form ">
            <div class="mb-3">
                <label for="usuario" class="form-label"> Tu Nombre</label>
                <input type="text" class="form-control" name="usuario" id="usuario" v-model="usuario">
            </div>
            <div class="mb-3">
                <label for="texto" class="form-label">Mensaje</label>
                
               <input class="form-control" name="texto" id="textarea" v-model="texto" placeholder="Escribe tu comentario aquí"></textarea>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="text" class="form-control" name="imagen" id="imagen" v-model="imagen">
                <img width="100" class="m-4" :src="imagen" alt="">
            </div>
            <div>
            <button type="button" class="btn btn-danger fw-bold" v-on:click="grabar()">Enviar Comentario</button>
        </div>
        </form>
    </div>
      
  
</div> <!-- fin popup-->

</div>
</div>

</section>

<section>



    
</section>

  <!-- ------------------ CARDS !!------------- -->
  

  <section>
    <div class="container m-4 p-1 w-auto">
        <div class="card shadow p-3 mb-5 bg-body rounded-4" v-for="comentario in comentarios" >
            <div class="card-header">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 ">
            <img width="60" :src="comentario.imagen" :alt="comentario.usuario">
               </div>
               <div class="flex-grow-1 ms-3">
            <h5>{{comentario.usuario}}</h5>
               </div>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-text">{{comentario.texto}}</h5>
              <div id="yourDiv" class="ocultar">
              <a class="btn btn-danger m-4" :href="'comentarioUpdate.html?id='+ comentario.id" >Editar</a>
        <button type="button" class="btn btn-outline-danger" v-on:click="eliminar(comentario.id)" >Eliminar</button>
          </div>
          </div>
          </div> 
        </div>

  </section>


         



<section class="contenedor-minigaleria"> <!-- mini galeria con fotos -->
    <div class="fotoGaleria">
             <img src="imagenes/clientes.jpg" alt="">
         </div>
         <div class="fotoGaleria">
             <img src="imagenes/clientes2.jpg" alt="">
         </div>

         <div class="fotoGaleria">
             <img src="imagenes/clientes3.jpg" alt="">
         </div>

         <div class="fotoGaleria">
             <img src="imagenes/clientes4.jpg" alt="">
         </div>

     
 </section> <!-- fin mini galeria -->


<!-- FOOTER Y LOGOS DE REDES SOCIALES -->
    <footer class="footer">
        <div class="footer-info">
            <p>© Copyright 2023 Coffee Style - Todos los derechos reservados</p>
        </div>
        <div class="social-icons">
            
            <img src="imagenes/icons8-facebook-50.png" alt="Facebook" class="social-logo">
            </a>
            
            <img src="imagenes/icons8-twitter-50.png" alt="Twitter" class="social-logo">
            </a>
            <img src="imagenes/icons8-instagram-50.png" alt="Instagram" class="social-logo">
            </a>
        </div>
    </footer>


<script src="./menuToggle.js"></script> 
<script src="./cambiarColorNavbar.js"></script>
<script src="./comentarios.js"></script>
<script src="/admin.js"></script>
<script src="script.js"></script>
</body>

</html>



    
    