/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(imagenes/branding/imagen_2023-10-05_202707670.png);
}

/* Estilos de la barra de navegación */
.navbar {
  position: fixed;
  /*background-color: #ff000000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.7s ease; /* ACA AGREGUE UNA TRANSICION PARA EL PASO A COLOR*/
}

.navbar-scroll {
  /* ACA AGREGUE ESTO PARA CAMBIAR COLOR DEL NAV CUANDO ME MUEVA */
  background-color: #1a110d;
}

.logo img {
  width: 40%; /* Ancho de la imagen de logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Margen derecho opcional */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 0px;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.nav-links a:hover {
  color: #57b5e4;
}

.nav-links li a {
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ---------------------- LOGO  -------------------------*/

.logo {
  margin-left: 50px;
  padding: 5px;
  height: auto;
  width: 250px;
}

/* ---------------------- LOGO -------------------------*/

/* ---------------------- MENU TOGGLE -------------------------*/

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* ESTAS SON LAS 3 RAYITAS */
.bar {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 3px 0;
}

/* -----------------------------slider------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container-slider {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  z-index: 0; /* Mantén el valor actual o ajusta según sea necesario */
}
#slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}
#container-slider .arrowPrev,
#container-slider .arrowNext {
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 2;
}
#container-slider .arrowNext {
  left: initial;
  right: 50px !important;
}
.content_slider {
  padding: 15px 30px;
  color: #fff;
  width: 100%;
  height: 100%;
}
.content_slider div {
  text-align: center;
}
.content_slider h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content_slider p {
  font-size: 15pt;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
#slider li .content_slider {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 125px;
}
.content_slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider {
  color: #fff;
  font-size: 15pt;
  font-family: "arial";
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #ccc;
  background: rgba(37, 40, 80, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: 0.5s all;
}
.btnSlider:hover {
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #ccc;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #fff !important;
}

/* -------------------------------------Contenedor dos imagenes descubre---------------------- */

.descubre-contenedor {
  display: flex !important;
  box-sizing: border-box;
}

.media-imagen {
  display: block;
  width: 100%;
  padding: 35% 10% 10% 10%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-texto {
  width: 100%;
  padding: 30px 15px;
}

.contenedor-negro {
  background-color: #000000b1;
  padding: 40px 150px;
  margin-left: -150px;
}
.subtitulo-entry {
  display: block;
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  color: #f9a03f;
}
.titulo-1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.descubre-texto {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
/* ---------------------------------------------primer banner----------------------------------*/

.banner {
  background-image: url(imagenes/banner/mapa.png);
  background-color: #78542b;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: auto; /* Ancho máximo del banner */
  margin: 0 auto; /* Centrar el banner horizontalmente */
}

.left-section {
  flex: 1; /* Toma una parte flexible del espacio disponible */
  padding: 20px; /* Espaciado interior para la imagen */
  display: flex;
  justify-content: flex-end; /* Alinea la imagen a la derecha */
  align-items: center; /* Centra verticalmente la imagen */
}

.left-section img {
  width: 60%;
  max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  height: auto;
  display: block;
}

.right-section {
  flex: 1; /* Toma una parte flexible del espacio disponible */
  padding: 20px; /* Espaciado interior para el texto */
  background-color: rgba(14, 7, 0, 0.277); /* Color de fondo del lado derecho */
  color: #fff; /* Color del texto */
  text-align: center;
  padding: 130px 50px;
  margin-right: 20px;
}

h1 {
  font-size: 36px; /* Tamaño del título */
  margin-bottom: 20px;
  color: ;
  font-family: "Great Vibes", cursive;
  color: #f9a03f;
}

p {
  font-size: 18px; /* Tamaño del texto adicional */
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9c42; /* Color del botón */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #e68623; /* Cambiar el color al pasar el mouse */
}


/* ---------------------------------------------FOOTER--------------------------------------------------------------------------- */

.footer {
  background-color: #000000b1;

  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer-info {
  color: #ffffff;
  font-family: "Arial";
}
/* ---------------------------------------------FOOTER--------------------------------------------------------------------------- */

/* -----------------------------------------MEDIA CHANGE--------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background-color: #111;
  }

  #container-slider {
    position: relative;
    top: 1%; /* Ajusta según sea necesario para evitar la superposición */
  }

  .logo {
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .content_slider h2 {
    font-size: 15pt !important;
  }
  .content_slider p {
    font-size: 12pt !important;
  }
  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 20pt;
  }
  #container-slider .arrowPrev {
    left: 15px;
  }
  #container-slider .arrowNext {
    right: 15px !important;
  }
  #slider {
    height: 400px;
    min-height: 400px;
  }
  #slider li .content_slider {
    padding: 10px 35px;
  }
  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }

  .imagen-de-arriba {
    position: relative;
    margin-top: 152px;
    width: 100%;
    height: auto;
  }
  .imagen-de-fondo {
    position: relative;
    margin-top: -10px;
  }

  .descubre-contenedor {
    flex-direction: column;
  }

  .media-imagen {
    order: 1;
  }

  .contenedor-texto {
    order: 2;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: flex;
    margin-right: 50px;
    order: 2;
  }

  .logo {
    margin: 0;
  }
}
