* 
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
 
 }
  /* Estilos de la barra de navegación */
.navbar {
  position: fixed;
  /*background-color: #ff000000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;

  transition: background-color 0.7s ease; /* ACA AGREGUE UNA TRANSICION PARA EL PASO A COLOR*/
}

.navbar-scroll {
  /* ACA AGREGUE ESTO PARA CAMBIAR COLOR DEL NAV CUANDO ME MUEVA */
  background-color: #1a110d;
}

.logo img {
  width: 40%; /* Ancho de la imagen de logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Margen derecho opcional */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 0px;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.nav-links a:hover {
  color: #57b5e4;
}

.nav-links li a {
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ---------------------- LOGO  -------------------------*/

.logo {

margin-left: 50px;
padding: 5px;
height: auto;
width: 250px;
}

/* ---------------------- LOGO -------------------------*/

/* ---------------------- MENU TOGGLE -------------------------*/

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* ESTAS SON LAS 3 RAYITAS */
.bar { 
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 3px 0;
}





/* ---------------------- FIN MENU TOGGLE -------------------------*/


 
  
  
 
#headerContacto {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Arial";
  font-size: 30pt;
  color: white;
  background-image: url('imagenes/fotoCafe.jpg'); /* ACA PODES CAMBIARLE LA IMAGEN POR ALGO QUE QUIERAS */
  z-index: 0; 

  background-size: cover;
}


 
.container-formulario {
   
  background-image: url('imagenes/coffee2.jpeg');
  background-size: cover;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  
}

.form {
  align-items: center;
  display: block;
  background-color: #e7c080;
  margin: 30px;;
  padding: 20px;
  width:  500px;
  
}

.consulta-form input,
.consulta-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  
  border-radius: 5px;
}

.consulta-button {
  padding: 10px 20px;
  background-color: rgb(59, 41, 7);
  color: #eff6ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  size: 30px;
  

}

.container-formulario h1 {
  text-align: center;
}

.container-formulario input[type="text"],
.container-formulario input[type="email"],
.container-formulario input[type="tel"],
.container-formulario textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #432f05;
  border-radius: 4px;
  resize: vertical;
}

.container button[type="submit"] {
  background-color: #ab761f85;
  color: #fff6f6;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container button[type="submit"]:hover {
  background-color: #1e16028b;
}





.window-notice {
  background: rgba(33, 41, 52, .85);
  display: none;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999;
  ;
}


.window-notice .content {
  display: none;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
  
}

/* ------------------------ FOOTER Y SOCIAL MEDIA ICONS --------------*/
.footer {
  background-color: #000000b1;
  padding: 10px;
  overflow: hidden;
  font-weight: 500;
  justify-content:space-between;
  align-items: center;
  display: flex;
}

.footer-info {
  color: #ffffff;
  font-family: "Arial";
  margin-left: 50px;
}

.social-icons {
  display: flex;
  width: 30px; 
  height: 30px;
  margin-right: 100px;
  padding-right: 15px;
 justify-items: center;
 
}

.social-logo {

margin-right: 10px;


}

/* ------------------------ FIN FOOTER Y SOCIAL MEDIA ICONS --------------*/


/* -----------------------------------------MEDIA CHANGE--------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content:space-between;
    text-align: center;
    position: relative;
    background-color: #111;
  }

  
  .logo {
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  
  .imagen-de-arriba {
    position: relative;
    margin-top: 152px;
    width: 100%;
    height: auto;
  }
  .imagen-de-fondo {
    position: relative;
    margin-top: -10px;
  }


 /* Estilos para el menú en pantallas pequeñas */



.nav-links {
  display: none;
}


.menu-toggle {
  display: flex; 
  margin-right: 50px;
  order:2;
}

.logo {
  margin: 0;
}

  
}


